{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block heading %}<h2>Confira seu e-mail</h2>{% endblock heading %}

{% block content %}
  <p class="ex-auth__sub">Se existir uma conta com esse e-mail, enviamos o link de redefinição. Se não chegar em alguns minutos, olhe também a caixa de spam.</p>
  <div class="ex-auth__links">
    <a href="{% url 'account_login' %}">Voltar para o login</a>
  </div>
{% endblock content %}
